<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="parent">
<app-sidebar-component [month]="startMonth" [year]="startYear"></app-sidebar-component>
<div class="parent-calendar">
<button class="calendar-button" type="button" (click)="previousMonth()"><i class="fa fa-chevron-left" style="font-size:36px"></i></button>
<button class="calendar-button" type="button" (click)="nextMonth()"><i class="fa fa-chevron-right" style="font-size:36px"></i></button>
<div class="calendar-container">
    <h2 class="day-week">Sun</h2>
    <h2 class="day-week">Mon</h2>
    <h2 class="day-week">Tues</h2>
    <h2 class="day-week">Wed</h2>
    <h2 class="day-week">Thur</h2>
    <h2 class="day-week">Fri</h2>
    <h2 class="day-week">Sat</h2>
    <div class="day-container" *ngFor="let number of dayPadding"></div>
    <div class="day-container" *ngFor="let number of dayNumbers; let i=index" tabindex={{i}}>{{i+1}}</div>
</div>
<app-day-component class="event" [month]="startMonth" [year]="startYear" [day]="dayOfMonth"></app-day-component>
</div>
</div>
