<div class="parent-calendar">
<h1 class="month">{{startMonth}} {{startYear}} {{numberOfDaysInCurrentMonth}} {{paddingDays}}</h1>
<div class="calendar-container">
    <h2 class="day-week">Sunday</h2>
    <h2 class="day-week">Monday</h2>
    <h2 class="day-week">Tuesday</h2>
    <h2 class="day-week">Wednesday</h2>
    <h2 class="day-week">Thursday</h2>
    <h2 class="day-week">Friday</h2>
    <h2 class="day-week">Saturday</h2>
    <div *ngFor="let number of dayPadding"></div>
    <div class="day-container" *ngFor="let number of dayNumbers; let i=index">{{i+1}}</div>
</div>
<button class="calendar-button" type="button" (click)="previousMonth()">Previous Month</button>
<button class="calendar-button" type="button" (click)="nextMonth()">Next Month</button>
<app-day-component class="event"></app-day-component>
</div>
