.event-form{
    width:20rem;
    height:30rem;
    padding-left: 4rem;
    padding-top:2rem;
}
.date-picker{
    
}
.start-time{
    margin-right: 0;
}
.end-time{
    margin-right: 1rem;
}
.start-time,.end-time{
    width:3.5rem;
    height:1.2rem;
    border:none;
    background-color: white;
    outline: none;
}

.event-title{
    width:15rem;
    height:3rem;
    border:none;
    background-color: white;
    outline: none;
    font-size: 1.5rem;
    text-decoration: underline;
}
input{
    border:none;
    background-color: white;
    outline: none;
}
input:hover{
    background-color: #dadce091;
}
.event-location{
    width:12rem;
    height:1.5rem;
}
.event-description{
    width:15rem;
    height:10rem;
    outline:none;
}
.time-input{
    display:grid;
    grid-template-columns: 1fr .5fr 2fr 3fr;
    column-gap: 0;
}
.time-input > p{
    margin:0 0 0 0;
    width:1rem;
    page-break-after: avoid;
    text-align: center;
}
