<div class="side-bar">
    <i class="fa-regular fa-calendar"></i>
    <h1 class="title">Calendar</h1>
    <h1 class="month">{{month}} {{year}}
    </h1>
    <button class="calendar-button" type="button" (click)="lastMonth()"><i class="fa fa-chevron-left"></i></button>
    <button class="calendar-button-2" type="button" (click)="nextMonth()"><i class= "fa fa-chevron-right"></i></button>
    <button class="create-event" (click)="newEvent()"><i class="fa-solid fa-calendar-plus"></i>Create</button>
</div>
