.event-container{
    padding-top:.2rem;
    padding-left:1rem;
    margin-left: 2rem;
    background-color:white;
    width:30vw;
    height:80vh;
    border-radius: 1.5rem;
    border-color:grey;
    border-width: .01rem;
    border:solid;
}