.event-container{
    padding-top:.2rem;
    padding-left:1rem;
    margin: 0 0 0 0;
    background-color:white;
    width:15vw;
    height:95vh;
    border:solid;
    border-color: grey;
    border-width: .05rem;
    position: relative;
    overflow-y: scroll;
}
.event-container > h1{
    font-weight: normal;
    color:#3C4043;
}
